// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.chapter {
	font-family: fantasy;
	font-size: 18px;
}

body {
	background-color: #c0c0c0;
}